.attendance-index {
    width: 100%;
    background-color: #eee;
    padding-top: 10px;
    padding-bottom: 100px;
}

.attendance-index__heading {
    width: 100%;
}

.attendance-index__heading-text {
    width: 60%;
    margin: 0 auto;
    margin-top: 70px;
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    border: none;
    border-left: 5px solid #000;
    padding-left: 20px;
}

.month-navigation {
    margin: 0 auto;
    margin-top: 40px;
    width: 60%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
}

.month-navigation__previous-month,
.month-navigation__next-month {
    display: flex;
    width: 20%;
    padding: 10px 20px;
    gap: 5px;
}

.month-navigation__previous-month {
    justify-content: flex-start;
}

.month-navigation__next-month {
    justify-content: flex-end;
}

.month-navigation__current-month {
    display: flex;
    width: 25%;
    padding: 10px 20px;
    gap: 5px;
}

.arrow {
    color: #888;
    font-weight: bold;
}

.month-navigation__link {
    color: #666;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    cursor: pointer;
}

.month-navigation__link:hover {
    color: #333;
}

.month-navigation__icon,
.month-navigation__text {
    color: #000;
}

.month-navigation__icon {
    width: 15%;
}

.month-navigation__text {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.attendance-list {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    width: 60%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    border: none;
}

.attendance-list__row {
    height: 50px;
    border-top: 2px solid #eee;
}

.attendance-list__row:first-of-type {
    border: none;
}

.attendance-list__row:nth-of-type(2) {
    border-top: 4px solid #eee;
}

.attendance-list__header:first-of-type,
.attendance-list__description:first-of-type,
.attendance-list__header:last-of-type,
.attendance-list__description:last-of-type {
    width: 20%;
}

.attendance-list__header,
.attendance-list__description {
    letter-spacing: 0.2em;
    width: 15%;
    color: #666;
    font-weight: bold;
}

.attendance-list__link {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.attendance-list__link:hover {
    color: #333;
}

.attendance-list__alternate {
    color: #000;
}

.export__button {
    margin: 0 auto;
    text-align: right;
    width: 60%;
    margin-top: 50px;
}

.export__button-submit {
    text-align: center;
    width: 20%;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    appearance: none;
    cursor: pointer;
}

.export__button-submit:hover {
    background-color: #333;
}